<div class>
	<h1>About</h1>
	<P>Welcome to jacketby !</P>
	<P>その一枚が、あなたの宝物に</P>
	<h2>Contact</h2>
	<p>お問い合わせは下記の電話番号まで</p>
	<p>TEL: 026 - 9999 -9999</p>
	<h2>THANK YOU !</h2>
</div>

<%= search_form_for @q, html: {class: 'hogehoge'}, url: customer_items_path do |f|%>

    <!-- ここで検索するカラムを指定-->
    <%= f.condition_fields do |c| %>
      <%= c.attribute_fields do |a| %>
        <%= a.attribute_select associations: [] %>
      <% end %>

      <!-- ここで曖昧検索(cont)を指定。これはc.hidden_field :p, value:を使って絞り込むことが可能-->
      <%= c.hidden_field :p, value: "cont" %>
      <%= c.value_fields do |v| %>
        <%= v.search_field :value, placeholder: '検索ワードを入力' %>
      <% end %>
    <% end %>
    <%= f.submit '検索' %>
<% end %>

