<section class="container clearfix">
	<h1 class="text-center">商品新規追加</h1>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<%= form_for(@item, url: admin_items_path) do |f| %>
					<div class="col-md-6">
						<%= image_tag "no_image.jpg" %>
					</div>
					<div class="col-md-6">
						<%= f.label :シングルアルバム名 %><br>
						<%= f.text_field :name, class:"form-control", placeholder: "シングル/アルバム名" %>
						<p>アーティスト名</p>
						<%= f.collection_select :artist_id, Artist.all, :id, :name, {include_blank: "アーティスト"} %><br>
						<%= f.label :価格 %><br>
						<div class="row">
							<div class="col-md-6">
								<%= f.number_field :price, class:"form-control", placeholder: "￥1,000円" %>
							</div>
							<div class="col-md-6">
								<%= f.select :sale, Item.sales.keys.to_a, {}, {include_blank: "ステータス"} %>
							</div>
						</div>
						<%= f.label :発売日 %>
						<%= f.date_field :release_date, class:"form-control", placeholder: "2020/12/27" %>
						<p>レーベル名</p>
						<%= f.collection_select :label_id, Label.all, :id, :name, {include_blank: "レーベル"} %><br>
						<p>カテゴリー名</p>
						<%= f.collection_select :category_id, Category.all, :id, :name, {include_blank: "カテゴリー"} %><br>
						<%= f.fields_for :arrival_items do |arrival_item| %>
							<%= render 'arrival_item_fields', f: arrival_item %>
						<% end %>
						<%= f.attachment_field :image %>
					</div>
					<%= f.label :管理者コメント %><br>
					<%= f.text_area :comment, class:"form-control", placeholder: "管理者の熱いコメント" %>
					<%= f.fields_for :disks do |disk| %>
						<%= render 'disk_fields', f: disk %>
					<% end %>
					<div id="links">
					  <%= link_to_add_association 'ディスク追加',f, :disks %>
					  </div>
					<%= f.submit "保存", class:"btn btn-lg btn-block btn-base-1 mt-20 bg-primary" %>
					<%= link_to "削除", "#", class:"btn btn-lg btn-block btn-base-1 mt-20 bg-danger" %>
				<% end %>
			</div>
		</div>
	</div>
</section>


