<section class="container clearfix">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 new-container">
			<h1 class="text-center">商品新規追加</h1>
			<hr>
			<div class="row">
				<%= form_for(@item, url: admin_items_path) do |f| %>
						<%= f.label :シングルアルバム名 %><br>
						<%= f.text_field :name, class:"form-control", placeholder: "シングル/アルバム名" %>
						<b>アーティスト名</b>
						<%= f.collection_select :artist_id, Artist.where(is_deleted: false), :id, :name, {include_blank: "アーティスト"} %><br>
						<%= f.label :価格 %><br>
						<div class="row">
							<div class="col-md-6">
								<%= f.number_field :price,min: 1, class:"form-control", placeholder: "1000" %>
							</div>
							<div class="col-md-6">
								<%= f.select :sale, Item.sales.keys.to_a, {}, {include_blank: "ステータス"} %>
							</div>
						</div>
						<%= f.label :発売日 %>
						<%= f.date_field :release_date, class:"form-control", placeholder: "2020/12/27" %>
						<b>レーベル名</b>
						<%= f.collection_select :label_id, Label.where(is_deleted: false), :id, :name, {include_blank: "レーベル"} %><br>
						<b>カテゴリー名</b>
						<%= f.collection_select :category_id, Category.where(is_deleted: false), :id, :name, {include_blank: "カテゴリー"} %><br>
						<%= f.label :入荷数 %>
						<%= f.number_field :stock, min: 1, class:"form-control", placeholder: "数" %>
						<b>画像</b>
						<%= f.attachment_field :image %>
					<%= f.label :管理者コメント %><br>
					<%= f.text_area :comment, class:"form-control", placeholder: "管理者の熱いコメント" %>
					<%= f.fields_for :disks do |disk| %>
						<%= render 'disk_fields', f: disk %>
					<% end %>
					<div id="links">
					  <%= link_to_add_association 'ディスク追加',f, :disks %>
					  </div>
					<%= f.submit "保存", class:"btn btn-lg btn-block btn-base-1 mt-20 bg-primary" %>
				<% end %>
			</div>
		</div>
	</div>
</section>


