<h2>購入確認</h2>
<%= form_for([:customers,@order],url: customers_orders_path , method: :post) do |f| %>


<h4>お届け先</h4>
<p><input type="radio" name="btn" id="a" checked="checked">  登録住所</p>
<div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; width: 100%; border-radius: 5px;">
    <div class="text text01">
    <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; width: 30%;">
        〒 <%= @customer.postal_code %>
        <!--addressモデルから引っ張ったデータをドロップダウンで表示させ、未選択のときは規定値としてメイン住所を表示させるためのコード（addressモデルが空っぽなので途中)-->
    <!--%= form_for([:customers,@address]) do |f| %-->
    <!--%= f.select :postal_code, Addresses.all, :id, :name , include_blank: '選択してね！'%-->
    </div>
    <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333;">
        住所　<%= @customer.address %>
    </div>
    </div>
</div>


<p><input type="radio" name="btn" id="b">  新規お届け先</p>


<div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; width: 100%; border-radius: 5px;">
  	<div class="text text02">
    <div>宛名</div>
      <%= f.text_field :delivery_name %>
    <div>郵便番号</div>
      <%= f.text_field :postal_code %>
    <div>住所</div>
      <%= f.text_area :destination %>
    </div>
      <%= f.hidden_field :status, :value => 1, class:"form-control" %>

      <%= f.hidden_field :order_time, :value => Time.now, class:"form-control" %>

      <%= f.hidden_field :delivery_charge, :value => 500, class:"form-control" %>

　　　 <%= f.hidden_field :customer_id, :value => current_customer.id, class:"form-control" %>

      
</div>


<h4>支払い方法</h4>
<div class="field">
    <%= f.radio_button :payment, :クレジットカード %>
    <%= f.label :クレジットカード %>
    <%= f.radio_button :payment, :銀行振込 %>
    <%= f.label :銀行振込 %>
    <%= f.radio_button :payment, :代引き %>
    <%= f.label :代引き %>
</div>

<h4>注文内容</h4>
<% sum = 0 %>
<% quantity_sum = 0 %>
  <% @carts.each do |cart| %>
    <%= attachment_image_tag cart.item, :image, class: "book-img float-left", size: "150x150" %>
    <%= cart.item.name %>
    ¥ <%= cart.item.price %>

    <% sum += (cart.item.price * cart.quantity) %>
    <% quantity_sum += cart.quantity %>

    <p class="float-left">
      <%= f.fields_for cart do |fb| %>
        <%= f.hidden_field :total_price, :value => cart.quantity * cart.item.price, class:"form-control" %>
        数量：<%= fb.select :quantity, options_for_select((1..cart.item.stock).to_a, cart.quantity) %>
        <%= link_to "削除", customers_customer_cart_path(current_customer.id,cart.id), method: :delete,class: "btn btn-sm btn-link" %>
      <% end %>
    </p>
  <% end %>

  商品の小計（<%= quantity_sum %>点）： ¥ <%= sum %>
  <br>送料（全国一律）： ¥ 500</br>
  ご請求額：¥ <%= sum + 500 %>
<%= f.submit '注文を確定する' , class:"btn btn-warning btn-block" %>

<% end %>
