<div class="order-content">
  <section class="container">
    <div class="row">
      <div class="col-md-8 col-sm-offset-2 order-container">
        <h2>購入確認</h2>
          <%= form_for(@order,url: customers_orders_path , method: :post) do |f| %>
            <h4>新規お届け先</h4>
              <%= f.label :宛名 %>
                <%= f.text_field :delivery_name, class:"form-control" %>
              <%= f.label :郵便番号 %>
                <%= f.text_field :postal_code, class:"form-control" %>
              <%= f.label :住所 %>
                <%= f.text_area :destination, class:"form-control" %>
              <%= f.hidden_field :status, :value => :受付, class:"form-control" %>
              <%= f.hidden_field :order_time, :value => Time.now, class:"form-control" %>
              <%= f.hidden_field :delivery_charge, :value => 500, class:"form-control" %>
    　　　     <%= f.hidden_field :customer_id, :value => current_customer.id, class:"form-control" %>
            <h4>注文内容</h4>
            <% sum = 0 %>
            <% quantity_sum = 0 %>
              <% @carts.each do |cart| %>
                <%= attachment_image_tag cart.item, :image, class: "book-img float-left", size: "150x150" %>
                <%= cart.item.name %>
                <p>数量：<%= cart.quantity %></p>
                <p>¥<%= (cart.item.price * 1.1).to_i %>  (税込)</p>
                <% sum += (cart.item.price * cart.quantity) %>
                <% quantity_sum += cart.quantity %>
                <%= link_to "削除", customers_customer_cart_path(current_customer.id,cart.id), method: :delete,class: "btn btn-sm btn-link" %>
               <% end %>
              商品の小計（<%= quantity_sum %>点）： ¥ <%= (sum * 1.1).to_i %> (税込)
              <br>送料（全国一律）： ¥ 500
              ご請求額：¥ <%= (sum * 1.1).to_i + 500 %> (税込)

              <h4>支払い方法</h4>
            <div class="field">
                <%= f.radio_button :payment, :クレジットカード %>
                <%= f.label :クレジットカード %>
                  <%= form_tag(action: :pay, method: :post) do |x| %>
                  <%= hidden_field_tag :total_price, sum %>
                    <script type="text/javascript"
                      src="https://checkout.pay.jp"
                      class="payjp-button"
                      data-key="pk_test_6f6c6927b0286421699ee2b5">
                    </script>
                <%= f.radio_button :payment, :銀行振込 %>
                <%= f.label :銀行振込 %>
                <%= f.radio_button :payment, :代引き %>
                <%= f.label :代引き %>
            </div>
            <%= f.hidden_field :total_price, :value => sum, class:"form-control" %>
            <%= f.submit '注文を確定する' , class:"btn btn-warning btn-block" %>
        <% end %>
        <% end %>
      </div>
    </div>
</section>
</div>