<div class="panel-body" ng-transclude>
  <div include-with-scope=""class="ng-scope">
<table>
	<div class="col-md-12">
	  <div ba-panel ba-panel-title="顧客一覧"ba-panel-class="with-scroll">
          <div class="panel-heading clearfix">
          	<h3 class="panel-title">顧客一覧</h3>
	  </div>
	</div>
	  <div class="table table-bordered table-hover table-condensed">
	  </div>
	</div>
      <div class="table-responsive">
      	<table class="table table-striped jambo_table buik_action">
      	<thead>
		<tr class="headings">
			<th class="column-title">顧客名</th>
			<th class="column-title">メールアドレス</th>
			<th class="column-title">購入した日
				<%= link_to "新しい順", admin_customers_path(vort: 1) %>
				<%= link_to "古い順", admin_customers_path(vort: 2) %></th>
			<th class="column-title">詳細ページへ</th>
		</tr>
	</thead>
	<tbody>
		<% @customers.each do |customer| %>
			<tr class="even pointer">
				<td class=><%= customer.last_name %>
				<%= customer.first_name %></td>
				<td><%= customer.email %></td>
				<% customer.orders.each do |order| %>
					<td><%= order.order_time.strftime('%Y/%m/%d') %>
					</td>
					<td><%= link_to "顧客詳細へ", admin_customer_path(customer) %></td>
		<% end %>
		<% end %>
	</tbody>
</table>
<%= paginate @customer, class: "paginate"%>
