<div class="tbody" style= "height: 100%;">
<section class="container">
  <div class="row">
  	<div class="col-lg-5">
    <div class="col-xs-5 cus-show"style= "width: 500px;">
      <h4 class="with-line">顧客情報<span class="fa fa-user form-control-icon" aria-hidden="true"></span></h4>
        <table class="table">
          <tbody>
              <%= form_for @customer,url:admin_customers_path(@customer) do |f| %>
                  <div class="form group">
                    <div class="form-inline">
                      <button type="button" class=" col-sm-2 btn-xs btn-success show-btn" disabled="disabled">お名前</button>
                      <div class="col-sm-10"style= "padding:0px,2px;">
                        <%= f.text_field :last_name,id:"customer_last_name",placeholder:"名前",rows: 7,class: "form-control", :size => "10*10" %>
                        <%= f.text_field :first_name,id:"customer_first_name",placeholder:"名前",rows: 7,class: "form-control",:size => "10*10"%>
                    </div>
                </div>
            </div>
                  <div class="form group">
                    <div class="form-inline">
                      <button type="button" class=" col-sm-2 btn-xs btn-success show-btn" disabled="disabled">お名前（カナ）</button>
                    <div class="col-sm-10" style= "padding:15px;">
                      <%= f.text_field :last_name_kana,id:"customer_last_name_kana",placeholder:"名前（カナ）",rows: 7,class: "form-control",:size => "10*10"%>
                      <%= f.text_field :first_name_kana,id:"customer_first_name_kana",placeholder:"名前（カナ）",rows: 7,class: "form-control",:size => "10*10"%>
                    </div>
                  </div>
                 </div>
                  <div class="form group">
                    <div class="form-inline">
                      <button type="button" class="col-lg-2 btn-xs btn-success show-btn" disabled="disabled">住所1</button>
                      <div class="col-sm-10" style= "padding:0px,4px;">
                      <%= f.text_field :postal_code,id:"customer_postal_code",placeholder:"郵便番号",rows: 7,class: "form-control",:size => "10*10"%>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-10" style= "padding:15px;">
                    <%= f.text_area :address,id:"customer_adress",placeholder:"住所1",rows: 7,class: "form-control",:size => "40*40"%>
                  </div>
              </div>
          </div>
                  <div class="form group">
                    <div class="form-inline">
                      <%= f.fields_for :addresses do |address| %>
                  		  <%= render "address_fields", f: address %>
                  	  <% end %>
                    </div>
                  </div>
                  <div class="form group">
                    <div class="form-inline">
                      <button type="button" class="col-lg-2 btn-xs btn-success show-btn" disabled="disabled">電話番号</button>
                      <div class="col-sm-10" style= "padding:0px,3px;">
                        <%= f.text_field :phone_number,id:"customer_phone_number",placeholder:"電話番号",rows: 7,class: "form-control",:size => "10*10"%>
                    </div>
                  </div>
              </div>
                  <div class="form group">
                    <div class="form-inline">
                     <button type="button" class="col-lg-2 btn-xs btn-success show-btn" disabled="disabled">email</button>
                     <div class="col-sm-10" style= "padding:10px;">
                      <%= f.text_field :email,id:"customer_email",placeholder:"メールアドレス",rows: 7,class: "form-control"%>
                    </div>
                  </div>
              </div>
              <% end %>
                	<div class="actions">
                	   <div class="form-inline">
                	     <%= link_to "削除", admin_customers_path(@customer),rows: 7,class: "btn-sm btn-danger form-control", method: :delete, "data-confirm" => "Are you sure?" %>
                     </div>
                  </div>
          </tbody>
        </table>
    </div>
</tbody>
</table>
</div>
<div class="col-xs-7">
	<div class="table">
<section class="container-fluid clearfix">

    <div class="col-xs-7 col-xs-offset-1 cus-show" style="width: 600px;""height: 800px;">
    	<% sum = 0 %>
      <% quantity_sum = 0 %>
      	<div class="row">
      	<h4 class="col-md-4 col-md-offset-1">
      		受注履歴
      	</h4>
      	<h4 class="col-md-5 col-md-offset-2">
      		購入価格総計<%= @total %>
      	</h4>
      </div>

      <% @orders.each do |order| %>
        <div class="row cus-show">
        <div class="row order-container_box">
        <div class="col-sm-4">
        受注日：<%= order.order_time.strftime("%y年%m月%d日") %></div>
        <div class="col-sm-3"><%= order.status %></div>
        <div class="col-sm-3">売上金額¥<%= order.total_price %></div>
    </div>
    <% end %>
    
    <div class="table">
    <% @orders.each do |order| %>
    送付先<%= order.postal_code %></p>
          <P><%= order.destination %>
    <% order.order_details.each do |order_detail| %>
    <div class="container">
    	<div class="row">
        <div class="col-xs-6">
                  <div class="example">
                      <div class="example_image">
                          <%= attachment_image_tag order_detail.item, :image, size: "170x170" %>
                      </div>
                  </div>
              </div>
          </div>
      </div>
              <div class="row order-container_box">
                  <div class="container">
                  <div class="col-xs-6">
                  <div class="row">
                    <p>シングル名：<%= truncate(order_detail.item.name, length: 10) %></p>
                  </div>
                  <div class="row">
                    <p>受注枚数 :<%= order_detail.quantity %></p>
                  </div>
                  <div class="row">
                  	<p>受注者：<%= order.customer.last_name %><%= order.customer.first_name %></p>
                  </div>
                  <div class="row">
                    <p>単価：¥ <%= order_detail.item.price %></p>
                  </div>
                  <% end %>
              <% end %>
                 <div class="row">
                 	<p>送料 :500円</p>
                 </div>
              </div>
          </div>
      </div>
      </div>
  </div>
      </div>
      <%= paginate @customers, class: "paginate"%>
  </div>
    </div>
  </div>
</section>
</div>
</div>
</div>
</section>
</div>

