<div class="container">
  <div class="col-xs-5">
<h2 class="with-line">顧客情報<span class="fa fa-user form-control-icon" aria-hidden="true"></span></h2>

<table class="table">
  <tbody>
      <%= form_for @customer,url:admin_customers_path(@customer) do |f| %>
    <div class="form group">
    <div class="form-inline">
      <button type="button" class="btn btn-success" disabled="disabled" >お名前</button>
        <%= f.text_field :last_name,id:"customer_last_name",placeholder:"名前",rows: 7,class: "form-control", :size => "10*10" %>
        <%= f.text_field :first_name,id:"customer_first_name",placeholder:"名前",rows: 7,class: "form-control",:size => "10*10"%>
    </div>
    </div>
    <div class="form group">
    <div class="form-inline">
      <button type="button" class="btn btn-success" disabled="disabled">お名前（カナ）</button>
      <%= f.text_field :last_name_kana,id:"customer_last_name_kana",placeholder:"名前（カナ）",rows: 7,class: "form-control",:size => "10*10"%>
      <%= f.text_field :first_name_kana,id:"customer_first_name_kana",placeholder:"名前（カナ）",rows: 7,class: "form-control",:size => "10*10"%>
    </div>
    </div>
    <div class="form group">
    <div class="form-inline">
      <button type="button" class="btn btn-success" disabled="disabled">住所1</button>
      <%= f.text_field :postal_code,id:"customer_postal_code",placeholder:"郵便番号",rows: 7,class: "form-control",:size => "10*10"%>
    </div>
      <%= f.text_area :address,id:"customer_adress",placeholder:"住所1",rows: 7,class: "form-control",:size => "40*40"%>
    </div>
    <div class="form group">
    <button type="button" class="btn btn-success" disabled="disabled">住所2</button>
    <%= f.fields_for :addresses do |address| %>
		<%= render "address_fields", f: address %>
	<% end %>
</div>
    <div class="form group">
    <div class="form-inline">
    　<button type="button" class="btn btn-success" disabled="disabled">電話番号</button>
      <%= f.text_field :phone_number,id:"customer_phone_number",placeholder:"電話番号",rows: 7,class: "form-control",:size => "10*10"%>
    </div>
    </div>
    <div class="form group">
    <div class="form-inline">
    　<button type="button" class="btn btn-success" disabled="disabled">メールアドレス</button>
      <%= f.text_field :email,id:"customer_email",placeholder:"メールアドレス",rows: 7,class: "form-control"%>
    </div>
    </div>
        <% end %>
      	<div class="actions">
      	<div class="form-inline">
      	<%= link_to "削除", admin_customers_path(@customer),rows: 7,class: "btn-sm btn-danger form-control", method: :delete, "data-confirm" => "Are you sure?" %>
        </div>
    </div>
</tbody>
</table>
</div>
<div class="col-xs-7">
	<div class="table">
<section class="container-fluid clearfix">
	<% sum = 0 %>
  <% quantity_sum = 0 %>
  <div class="row order-container_box">
  <div class="col-md-5">
  <h4>受注履歴</h4>
  </div>
  <div class="col-md-5">
  	<h4>購入価格総計:<%= @total %></h4>
  </div>
</div>

  <% @orders.each do |order| %>
    <% order.order_details.each do |order_detail| %>
    <div class="col-xs-7">
    <div class="row order-container_box">
    <div class="col-md-10">
    受注日：<%= order.order_time.strftime("%y年%m月%d日") %>
    </div>
    <div class="col-md-2">
    <%= order.status %>
    </div>
    <div class="col-md-4">
     売上金額<%= @sum %><br/>
    </div>
</div>
</div>
              <div class="example">
                  <div class="example_image">
                      <%= attachment_image_tag order_detail.item, :image, size: "150x150" %>
                  </div>
              </div>
              <div class="example_text">
                <p class="btn btn-default btn-xs"><%= truncate(order_detail.item.name, length: 10) %></p>
              </div>
              <div>
                <p class="btn btn-default btn-xs">受注枚数 :<%= order_detail.quantity %></p>
              </div>
              <div>
              	<p class="btn btn-default btn-xs">受注者名：<%= order.customer.last_name %><%= order.customer.first_name %></p>
              </div>
              <div>
                <p class="btn btn-default btn-xs">単価：¥ <%= order_detail.item.price %></p>
              </div>
              <div>
                <p class="btn btn-default btn-xs">送付先<%= order.postal_code %><br/>
                <%= order.destination %></P>
              </div>

          <% end %>
            <% end %>
</p>
</div>
</section>
</div>
</div>
</div>
<%= paginate @customers, class: "paginate"%>
</div>


