<div class="col-md-12">
	<h2>アーティスト一覧</h2>
	<table class="table table-striped">
    <thead>
  	 <tr>
  		<th>アーティスト名</th>
  		<th colspan="3"></th>
  		<th colspan="3"></th>
  	 </tr>
    </thead>
    <tbody>
	<% @artists.each do |artist| %>
	 <tr>
	 	<td><%= artist.name %></td>
	 	<td><%= link_to "編集", "#" %></td>
	 	<td><%= link_to "削除", "#" %></td>
	 </tr>
	 <% end %>
   </tbody>
   </table>

   <h2>アーティスト新規作成</h2>
   <%= form_for(@artist, url: admin_artists_path) do |f| %>
   <%= f.text_field :name %>
	<%= f.submit "新規作成", class:"btn btn-lg btn-block btn-base-1 mt-20 bg-primary" %>
	<% end %>
</div>