
  <h2>受注一覧</h2>
 
        <% @orders.each do |order| %>
       
            受注者：<%= order.customer.last_name %><%= order.customer.first_name %>
            受注日：<%= order.order_time %>
            
              <%= form_for([:admins,order],url: admin_order_path(order.id) , method: :patch) do |f| %>
              <%= f.select :status, [["受付", :受付],["商品準備中",:商品準備中],["出荷済み",:出荷済み]] %>
              <% end %>


            <u>注文内容</u>
            <% sum = 0 %>
            <% quantity_sum = 0 %>
          <% order.order_details.each do |order_detail| %>
            <br><%= attachment_image_tag order_detail.item, :image, class: "float-left", size: "100x100" %></br>
            <br><%= order_detail.item.name %><br>
            <br>受注枚数：<%= order_detail.quantity %></br>
            <br>単価：¥ <%= order_detail.item.price %></br>
            <%= order_detail.quantity * order_detail.item.price %>

            <% sum += ( order_detail.quantity * order_detail.item.price ) %>
          <% end %>
            
            商品の小計（<%= order.order_details.count %>点）： ¥ <%= sum %>
            送料（全国一律）： ¥ 500
            売上金額：¥ <%= sum + 500 %>


        <% end %>
