<h1>ショッピングカート</h1>
<!-- item = cart.item -->
<%= link_to customers_item_path(@item) do %>
  <!--%= attachment_image_tag @newcart, :profile_image, :fill, 50, 50, format:'jpeg', fallback: "no_image.jpeg" %-->
  <%= @cart.item.name %>
<% end %>
<%= "item.price + item.order_details.tax" %>
<%= item.artist.name %>
<%= "数量" %>
<%= link_to "削除", new_customers_orders_path, method: :delete, class: "btn btn-danger btn-sm "%>
<%= link_to "レジに進む", new_customers_orders_path, class: "btn btn-warning btn-lg "%>

