<div class="contact-index-content">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 contact-form">
				<table  class="table table-hover table-inverse">
					<thead>
						<tr>
							<th>顧客名</th>
							<th>問い合わせタイトル</th>
							<th>受信日</th>
							<th class="col-md-3"></th>
						</tr>
					</thead>
					<tbody>
						<% @customers.each do |customer| %>
							<% customer.contact.each do |contact| %>
								<tr>
									<td><%= contact.customer.last_name %><%= customer.first_name %></td>
									<td><%= contact.title %></td>
									<td><%= contact.created_at.strftime("%Y年%m月%d日 ") %></td>
									<td><%= link_to "返信", edit_contact_path(contact) %></td>
								</tr>
							<% end %>
						<% end %>
					</tbody>
				</table>
				<%= paginate @contacts, class: "pagenate" %>

				<span id="back">
				      <a href="">
				        <%= image_tag "arrow.png", size: "30x30", class: "pull-right" %>
				      </a>
				</span>
			</div>
		</div>
	</div>
</div>