<div class="col-md-12">
  <div class="demo-container-label">
      <div class="demo-box"></div>
    </div>
	<h2>レーベル一覧</h2>
	<table class="table table-striped">
    <thead>
  	 <tr>
  		<th>レーベル名</th>
  		<th colspan="3"></th>
  		<th colspan="3"></th>
  	 </tr>
    </thead>
    <tbody>
	<% @labels.each do |label| %>
  <%= form_for(label, url: admin_label_path(label), method: :patch, remote: true) do |f| %>
	 <tr>
	  <td><%= f.text_field :name, class:"form-control" %></td>
    <td><%= f.submit "保存" %></td>
     <% end %>
	 	<td><%= link_to "削除", admin_labels_hide_path(label), method: :put %></td>
	 </tr>
	 <% end %>
   </tbody>
   </table>
   <hr>

   <h2>レーベル新規作成</h2>
   <%= form_for(@label, url: admin_labels_path) do |f| %>
   <%= f.text_field :name, class:"form-control form-control1" %>
	<%= f.submit "新規作成", class:"btn btn-lg btn-block btn-base-1 mt-20 bg-primary" %>
	<% end %>
</div>