<section class="container">
	<h2>入荷入力画面</h2>
	<div class="search">
    	<%= render 'search' %>
    </div>
	<table  class="table table-hover table-inverse">
		<thead>
 			<tr>
				<th class="col-md-1">#</th>
				<th class="col-md-3">シングル/アルバム名</th>
				<th class="col-md-3">アーティスト名</th>
				<th class="col-md-2">入荷日</th>
				<th class="col-md-2">入荷枚数</th>
				<th class="col-md-1"></th>
			</tr>
		</thead>
		<tbody>
			<% @artist.each do |artist| %>
				<% artist.items.each do |item| %>
					<tr>
						<td>
							<%= attachment_image_tag item, :image, size: "50x50" %>
						</td>
					<td>
						<%= item.name %>
					</td>
					<td>
						<%= item.artist.name %>
					</td>
					<td>
						<%= form_for [item, @arrival_item], url: admin_arrival_items_path, html: {method: "post"} do |f| %>
						<%= f.date_field :arrival_time, class:"form-control" %>
						<%= f.hidden_field :item_id, :value => item.id, class:"form-control" %>
					</td>
				<td>
					<%= f.number_field :arrival_count, class:"form-control" %>
				</td>
				<td>
					<%= f.submit "保存" %>
					<% end %>
				</td>
			</tr>
			<% end %>
			<% end %>
		</tbody>
	</table>
</section>