<tr>
	<td>
		<%= attachment_image_tag item, :image, size: "50x50" %>
	</td>
	<td>
		<%= item.name %>
	</td>
	<td>
		<%= item.artist.name %>
	</td>
	<td>
		<%= form_for [item, @arrival_item], url: admin_arrival_items_path, html: {method: "post"}, remote: true do |f| %>
		<%= f.date_field :arrival_time, class:"form-control" %>
		<%= f.hidden_field :item_id, :value => item.id, class:"form-control" %>
	</td>
	<td>
		<%= f.number_field :arrival_count, class:"form-control" %>
	</td>
	<td>
		<%= f.submit "追加" %>
		<% end %>
	</td>
</tr>
