<section class="container">
	<div class="row">
		<div class="sidebar, col-md-3">

			<div class="row">
				<div class="categories">
					<h2 class="categories-headline">Categories</h2>
					 <div class="sidebar-contents">
					  	<% @categories.each do |category| %>
					  	 <%= link_to "#" do %>
				 			<h3><%= category.name %></h3>
				 		 <% end %>
				 		 <% end %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="admin-path">
					<h2 class="admin-path-headline">各種ページへ</h2>
						<div class="sidebar-contents">
							<p>受注一覧へ</p>
							<p>入荷履歴へ</p>
							<p>入荷入力へ</p>
						</div>
				</div>
			</div>
		</div>

			<div class="col-md-9">
				<div class="row clearfix">
					<h2 class="new-items">New arrival</h2>
						<% @items.each do |item| %>
							<div class="example">
								<div class="example_image">
									<%= attachment_image_tag item, :image, size: "150x150" %>
										<div id="item_favorite">
								             <%= render 'favorite', item: item %>
										</div>
			  			        </div>
			  					<div class="example_text">
					  				<p class="btn btn-success btn-xs">残り在庫3ヶ</p>
					  				<p class="btn btn-danger btn-xs"><%= item.sale %></p>
					  				<p>シングル名：<%= item.name %></p>
					  				<p>アーティスト名：<%= item.artist.name %></p>
					  				<p>価格（税込)：¥ <%= (item.price * 1.1).to_i %></p>
					  			</div>
							</div>
						<% end %>
				</div>

					<div class="row clearfix">Ranking
						<p class="new-item, col-xs-3">ランキングCD1</p>
						<p class="new-item, col-xs-3">ランキングCD2</p>
						<p class="new-item, col-xs-3">ランキングCD3</p>
						<p class="new-item, col-xs-3">ランキングCD4</p>
					</div>

					<div class="row clearfix">List
						<p class="new-item, col-xs-3">CD1</p>
						<p class="new-item, col-xs-3">CD2</p>
						<p class="new-item, col-xs-3">CD3</p>
						<p class="new-item, col-xs-3">CD4</p>
						<p class="new-item, col-xs-3">CD5</p>
						<p class="new-item, col-xs-3">CD6</p>
						<p class="new-item, col-xs-3">CD7</p>
						<p class="new-item, col-xs-3">CD8</p>
						<p>＋一覧をもっと見る 押したら切り替わる JQ</p>
					</div>
				</div>
			</div>
	</div>
</section>