<!DOCTYPE html>
<html>
<head>
  <title>Jacketby</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://kit.fontawesome.com/0a9fd1077e.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
  <header class="navbar nav-head", style="padding: 0 50px; margin-bottom: 0px;">
  <% if admin_signed_in? %>
    <nav class="nav navbar-nav navbar-left">
      <a href="/admin/items" class="btn-circle-fishy">Jacketby</a>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to 'いいねランキング', admin_fav_path, style: "color: white;" %>
        </li>
        <li>
          <%= link_to '商品一覧', admin_items_path, style: "color: white;" %>
        </li>
        <li>
          <%= link_to '顧客一覧', admin_customers_path, style: "color: white;" %>
        </li>
        <li>
          <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, style: "color: white;" %>
        </li>
        <br>
        <li>
          <%= link_to '商品新規追加', new_admin_item_path, style: "color: white;" %>
        </li>
        <br>
        <p class="navbar-text navbar-right">
          管理者としてログインしています
        </p>
      </ul>
    </nav>
  <% elsif customer_signed_in? %>
    <nav class="nav navbar-nav navbar-left">
      <a href="/" class="btn-circle-fishy">Jacketby</a>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>
            <div class="search">
              <%= render 'customers/items/search' %>
            </div>
        </li>
        <li>
          <%= link_to 'いいね一覧', customers_favorites_path(current_customer.id), class: "btn-default", style: "margin-left: 20px; margin-top: 33px;" %>
        </li>
        <li>
          <%= link_to 'マイページ', edit_customers_customer_path(current_customer.id), class: "btn-default", style: "margin-left: 5px; margin-top: 33px;" %>
        </li>
        <li>
          <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: "btn-default", style: "margin-left: 5px; margin-top: 33px;" %>
        </li>
        <li>
          <%= link_to customers_path(current_customer) do %>
            <button type="button" class="btn-social-flat">
              <span class="btn-social-flat-icon btn-social-flat-icon--pocket">
              <i class="fas fa-cart-arrow-down"></i>
              </span>
              <p class="btn-social-flat-text">カート</p>
            </button>
          <% end %>
        </li>
        <br>
        <p class="navbar-text navbar-right">
        ようこそ　<%= current_customer.last_name %><%= current_customer.first_name %>さん。
        </p>
      </ul>
    </nav>
 <% else %>
    <nav class="nav navbar-nav navbar-left">
      <a href="/" class="btn-circle-fishy">Jacketby</a>
    </nav>
    <nav class="nav navbar-nav navbar-center">
    <div class="search", style="margin-left: 300px;">
        <%= render 'customers/items/search' %>
      </div>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "アバウト", customers_homes_about_path %>
        </li>
        <li>
          <%=link_to "サインアップ", new_customer_registration_path %>
        </li>
        <li>
          <%= link_to "ログイン", new_customer_session_path %>
        </li>
        </br>
        <p class="navbar-text navbar-right">
          ようこそ　ゲストさん。
        </p>
      </ul>
    </nav>
  <% end %>
  </header>
<%= yield %>
<footer class="footer navbar-inverse", style="height: 80px; line-height: 80px; font-size: 20px;">
  <div class="container">
    <p class="nav navbar-nav navbar-right", style="color:white">© All rights reserved by Jacketbye.Inc.</p>
  </div>
</footer>

<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</body>

</html>
